﻿body
{
    margin: 0px;
    padding: 0px;
    background-color: #222;
}
#wrapper
{
    margin: 50px auto;
    /*margin: 0px auto;*/
    background-image: none;
    overflow:hidden;
    
    width: 288px;
    height: 624px;
}

.description
{
    background-image: none;
    color: #eee;
    font-size: 18px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 10px;
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
    background-color: #555;
    border-radius: 10px;
}







div
{
    background-image: url(flappy.png);
    padding:0px;
    margin:0px;
}

.background
{
    width: 288px;
    height: 512px;
    background-position: 0px 0px;
    position: absolute;
    overflow: hidden;
}

.movingGround-container
{
    background-image: none;
    margin-top: 512px;
    overflow: hidden;
    white-space: nowrap;
}

.movingGround
{
    width: 312px;
    height: 112px;
    background-position: 440px 0px;
    display: inline-block;
}



/* BIRD */

#bird
{
    width: 34px;
    height: 24px;
    background-position:-174px -982px;
    position: absolute;

    z-index: 50;
}
#bird.startposition
{
    top: 200px;
    left: 90px;
}
#bird.flapping
{  
    -webkit-animation-duration: 0.7s;  
    -webkit-animation-name: flap;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-timing-function: step-end; 
}

@-webkit-keyframes flap 
{  
    from    {   background-position:-174px -982px;  }  
    25%     {   background-position:-230px -658px;  }  
    50%     {   background-position:-230px -710px;  }  
    75%     {   background-position:-230px -658px;  } 
}

/* PIPES */
.pipe
{
    width: 52px;
    height: 320px;
    position: absolute;

    z-index: 20;
}
.pipe-top
{
    background-position: -112px -646px;
}
.pipe-bottom
{
    background-position: -168px -646px;
}







/* TEXTS and BUTTONS */

.play-button
{
    background-position: -708px -236px;
    width: 108px; /* 4px drop shadow */
    height: 62px; /* 4px drop shadow */

    position: absolute;
    top: 220px;
    left: 90px;
    z-index: 1000;
}


.logo
{
    background-position: -701px -182px;
    width: 179px;
    height: 48px;
    z-index: 1000;
}

.text-gameover
{
    width: 200px;
    height: 45px;
    background-position: -790px -117px;
    
    position: absolute;
    top: 160px;
    left: 50px;
    z-index: 1000;
}
.text-paused
{
    position: absolute;
    top: 160px;
    left: 77px;
    color: #fca048;
    font-weight: bolder;
    font-size: 40px;
    font-family: monospace;
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
    letter-spacing: -3px;
    z-index: 1000;
    background-image: none;
}
.text-score-container
{
    z-index: 100;
    position: absolute; 
    left: 50%;
    margin-top: 50px;
    background-image: none;
}
.text-score
{
    position: relative; left: -50%;
    color: #fff;
    background-image: none;
}

/*
Numbers
*/

.number
{
    width: 28px;
    height: 36px;
    background-image: url(flappy.png);
    display: inline-block;
}

.number0
{
    background-position: -990px -120px;
}
.number1
{
    width: 20px;
    background-position: -270px -910px;
}
.number2
{
    background-position: -582px -320px;
}
.number3
{
    background-position: -610px -320px;
}
.number4
{
    background-position: -638px -320px;
}
.number5
{
    background-position: -666px -320px;
}
.number6
{
    background-position: -582px -368px;
}
.number7
{
    background-position: -610px -368px;
}
.number8
{
    background-position: -638px -368px;
}
.number9
{
    background-position: -666px -368px;
}


/* Some Helper */
.hidden 
{
    visibility: hidden;
}

